<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.storage">

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="熊家畅-18990182"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- activity节点指定了该App拥有的活动页面信息 -->
        <activity
            android:name=".ImageReadActivity"
            android:exported="true" />
        <activity
            android:name=".ImageWriteActivity"
            android:exported="true" />
        <activity
            android:name=".TextReadActivity"
            android:exported="true" />
        <activity
            android:name=".TextWriteActivity"
            android:exported="true" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>